* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
    height: 100%;
    background: linear-gradient(to bottom, #1b1c55, #231b7f, #771e98, #fc5450);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     
}

a { 
  text-decoration: none;
}

.top-right-text {
  align-self: flex-end;
  text-align: right;
  font-size: 1.5rem;
  width: 15rem;
  justify-content: right;
  margin-left: auto;
  margin-top: 20px;
  margin-right: 20px;
  color: white;
}

.title-text {
  font-size: 4.3rem;
  color: white;
  width: 624px;
  min-width: 400px;

}

@media only screen and (max-width: 1000px){
  .title-text{
    font-size: 1.5rem;
  }
  .top-right-text{
    font-size: 1rem;
  }
  .title-text{
    width: 300px;
  }
  .logo{
    max-height: 2rem;
  }

}
.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
}

.logo-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: 20px;
  max-height: 5rem;
  width: auto;
}

.bottom-logo {
  display: flex;
  justify-content: center;
}

.xlogo {
  max-width: 3rem;
  width: 3rem;
  height: auto;
  margin-bottom: 200%;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }